.navbar {
  width: 100%;
  height: 140px;
  border-bottom: 1px solid rgb(128, 126, 126);
  position: sticky;
  background: white;
  top: 0;
  left: 0;
}

.navbar_top_section {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgb(128, 126, 126);
}

.serch {
  width: 300px;
  height: 46px;
  display: flex;
  align-items: center;
}
.serch form {
  border-radius: 10px;
  display: flex;
  justify-content: end;
  width: 260px;
}
.input_search {
  border: none;
  outline: none;
  border-bottom: 1px solid #444;
  font-weight: 700;
  -webkit-transition: 0.3s;
  padding: 2px;
}
.hidden {
  opacity: 0;
  transform: scale(0.2, 1);
}
.search_btn {
  border: none;
  background: transparent;
  cursor: pointer;
  z-index: 11;
  margin-left: 8px;
}
.search_img {
  margin-left: 10px;
  width: 16px;
  height: 16px;
}

.logo {
  width: 180px;
}

.logo_section {
  margin: 30px;
}
.filter_side ul {
  list-style: none;
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.navbar_list {
  display: flex;
  padding: 0 110px;
  justify-content: center;
  font-weight: 700;
  position: relative;
}
.list_item {
  position: relative;
  height: 50px;
  padding-top: 10px;
  display: flex;
}
h4 {
  padding: 12px;
}

.list_item > ul {
  font-weight: 400;
  width: 170px;
  padding: 0 5px;
  font-size: 13px;
  z-index: 111;
  top: 40px;
  position: absolute;
  display: flex;
  display: none;
  flex-direction: column;
  transition: 0.3s;
  background-color: white;
  border: 1px solid rgb(214, 212, 212);
}
.list_item > ul > li {
  align-items: center;
  border-bottom: 1px solid rgb(214, 212, 212);
  margin: 4px;
  height: 30px;
  display: flex;
  transition: 0.3s;
  justify-content: space-between;
}
.list_item > ul > li:nth-last-child(1) {
  border-bottom: none;
}
.list_item > h4::after {
  content: url(./assets/header/Path.png);
  margin-left: 6px;
}
.list_item > h4:hover {
  cursor: pointer;
}

.list_item > ul > li:hover {
  cursor: pointer;
  padding-left: 6px;
  color: rgb(134, 129, 129);
}

.list_item:hover > ul {
  display: block;
  cursor: pointer;
}
.list_item > ul > li::after {
  content: url(./assets//header/B.png);
  width: 10px;
  height: 10px;
}
.container {
  margin: 0 120px;
  max-width: 1120px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container_item {
  width: 29%;
  margin: 20px auto;
  transition: 0.4s;
}

.container_item:hover {
  border-radius: 2%;
}
.container_item img {
  width: 100%;
}
.container_item h3 {
  color: rgba(235, 0, 40, 1);
  margin: 10px;
  font-size: 13px;
  font-weight: 700;
}
.container_item h1 {
  margin: 10px 0;
  font-size: 24px;
  font-weight: 700;
}
.veiw_section {
  width: 190px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 12px;
}
.veiw_section span {
  margin-right: 8px;
  font-size: 12px;
  font-weight: 600;
}
.veiw_section h5 {
  font-weight: 400;
  font-size: 12px;
  color: #9b9b9b;
}
p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #929292;
}

.burger_menu {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  flex-direction: column;
}

.burger_menu span {
  position: relative;
  height: 6px;
  width: 40px;
  border-radius: 4px;
  background: #000;
  transition: 0.6s;
  margin: 2px;
}

/* Media-queres */

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .container {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .container_item h1 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
  h4 {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    text-align: left;
    height: 100px;
  }
  .logo_section {
    width: 30%;
  }
  .logo_section img {
    max-width: 150px;
  }

  .serch {
    display: none;
  }
  .filter_side {
    position: absolute;
    top: 70px;
    left: -340px;
    height: 620px;
    transition: 0.6s;
    background: #fefdfd;
  }
  .filter_side ul {
    width: auto;
    margin-top: 0.5px;
    flex-direction: column;
  }

  .navbar_top_section,
  .navbar {
    border-bottom: none;
  }
  .navbar_list {
    padding-left: 20px;
  }

  .filter_side.active {
    left: 0px;
    width: 320px;
    margin: 0;
  }

  .list_item {
    width: 220px;
    padding-right: 0;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid gray;
  }

  .list_item > h4 {
    padding: 0;
  }
  .list_item > ul > li {
    width: 150px;
    height: 40px;
  }
  .burger_menu {
    visibility: visible;
    transform: translateX(0);
    transition: 0.6s;
  }
  .container {
    margin: 0 10px;
  }
  .container_item {
    width: 48%;
    margin: 20xp;
  }
  .span_visible {
    transition: 0.6s;
  }

  .span_visible span:nth-child(2) {
    transform: scale(0);
  }

  .span_visible span:nth-child(3) {
    transform: translateY(-10px) rotate(225deg);
  }
  .span_visible span:nth-child(1) {
    transform: translateY(10px) rotate(-225deg);
  }
}

@media screen and (max-width: 480px) {
  .container_item {
    width: 90%;
  }
  .logo_section img {
    max-width: 100px;
  }
}
